/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {

    body {

        .menu {
            height: 100px;
            width: 100%;
        }

        .h1 {
            padding: 3px;
            font-size: 25px;
            color: azure;
        }

        .CONTAINER {
            width: 100%;
            height: auto;
            max-height: none;
            display: block;
        }


        .CONTAINER P {
            font-size: 20px;
            margin-right: 18px;
            margin-left: 2px;
            margin-top: 40px;
        }

        .CONTAINER IMG {
            margin-left: 10px;
            margin-top: 23px;
            max-width: none;
            width: 95%;
        }

        #div {
            margin-right: 0;
        }

        .h2 {
            font-size: 45px;
            margin-bottom: 24px;
            margin-top: 0;
        }


        .curitiba {
            background-image: url(../img/mapacel.png);
            background-size: cover;
            padding: 40px;
            width: 100%;
        }

        .curitiba p {
            margin-right: 50px;
            margin-bottom: 20px;
            padding: 12px;
            max-width: none;
            width: 100%;
            font-size: 20px;
            line-height: 1.9;
        }

        .img {
            display: none;
        }

        .contmob {
            margin: 0;
            width: 100%;
            height: 80px;
            display: flex;
            background-color: #1f2937;
        }

        .contmob img {
            margin-left: 115%;
            margin-top: 18%;
            width: 60px;
        }

        .imgmob {
            width: 100%;
            display: block;
        }

    }

}